<div>
    <div class="container">
        <ul class ="menu">
            <li><a (click)="goToAddProduct()">Add Product</a></li>
            <li><a (click)="goToDeleteProduct()">Delete Product</a></li>
            <li><a (click)="goToUpdateProduct()">Update Product</a></li>
            <li><a (click)="goToViewRequest()">View Request</a></li>
            <li><a (click)="goToAddEmployee()">Add Employee</a></li>
            <li><a (click)="goToDeleteEmployee()">Delete Employee</a></li>
            <li><a (click)="goToGenerateReport()">Generate Report</a></li>
            <li><a routerLink ="/">Logout</a></li>
        </ul>
    </div>
</div>
