<div>
    <div class="container">
        <ul class ="menu">
            <li><a (click)="goTo('addProduct')">Add Product</a></li>
            <li><a (click)="goTo('deleteProduct')">Delete Product</a></li>
            <li><a (click)="goTo('updateProduct')">Update Product</a></li>
            <li><a (click)="goTo('viewRequests')">View Request</a></li>
            <li><a (click)="goTo('addEmployee')">Add Employee</a></li>
            <li><a (click)="goTo('deleteEmployee')">Delete Employee</a></li>
            <li><a (click)="goTo('adminReport')">Generate Report</a></li>
            <li><a routerLink ="/">Logout</a></li>
        </ul>
    </div>
</div>
