<div class="text-center">
    <h3>Unlock User</h3>
    <label>User I</label>
    <select    ><option>User1</option>
    <option>User2</option>
    </select>
    <label> Email Id</label>
    <select  ><option>1</option>
    <option>2</option>
    <option>3</option>
    </select> <br/><br/>
    <button>Unlock</button>

</div>

<!-- 
    *ngFor="let order of orderList.reverse()"
    <div class="container" style="min-height:600px">
    <h2> User Unlock</h2>

    <div *ngFor="let order of orderList.reverse()" class="row card mb-3">
        <div class="card-header">
            <b>#{{user._id | uppercase}}</b>
        </div>
        <div class="card-body">
            <!-- <ul *ngFor="let item of order.items">
                <li>{{userid}}</li>
            </ul>
            <!-- <b> {{user.userEmail}}</b><br/> -->
        <!-- </div>
        <div class="card-footer">
            Total :<b> {{order.total | currency}}</b>
        </div>
        
    </div>
</div> --> --> -->
