<div>
    <fieldset class="text-center">
        <legend>Delete Employee</legend>
        <form [formGroup]="reportForm" (ngSubmit)="genReport()">
            <label>Report Type:</label>
            <select formControlName="type">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select><br>
            <label>Starting from:</label>
            <input type="date"><br>
            <label>User ID:</label>
            <input type="number"><br>
            <label>Product ID:</label>
            <input type="number"><br>
            <input type="submit" value="Get Report" [disabled]="!reportForm.valid">
            <input type="reset" value="Clear">
        </form>
        <button><a routerLink="/admin">back to admin page</a></button>
    </fieldset>
    {{msg}}
    <!--
    <table border="1">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
            </tr>
            <tr *ngFor="let report of reports">
                <td>{{report.productid}}</td>
                <td>{{report.productname}}</td>
                <td>{{report.productprice}}</td>
                <td>{{report.productquantity}}</td>
            </tr>
    </table>-->
    <br/>
  </div>