<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Grocery</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <button class="btn btn-outline-primary" type="button" (click)="homeBtn()">Home</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showFundBtn()">Funds</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showEditBtn()">Edit Profile</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showCartBtn()">Cart</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showOrderBtn()">Order Status</button>
          </li>
        </ul>
        <a class="navbar-brand">{{currentUser}}</a>
        <button class="btn btn-danger" type="button" (click)="logout_user()">Log Out</button>
      </div>
    </div>
</nav>

<div class="container" *ngIf="showCart">
  
    <h3>Cart</h3>
    <div class="row">
      <div class="col-sm-5"><strong>Item</strong></div>
      <div class="col-sm-6"><strong>Quantity</strong></div>
      <div class="col-sm-1"><strong>Total($)</strong></div>
      <hr>
    </div>
    
      
    <div class="name" *ngFor= "let item of localCart">
      <div class="row">
        <div class="col-sm-2"><strong>{{item[0]}}</strong></div>
        <br/>
        <div class="col-sm-1">$ {{item[1][1]}}</div>

        <div class="col-sm-2">
          <button id="removeBtn" class="btn btn-outline-danger" type="button" (click)="removeFromCart(item)">Remove</button>
        </div>
        <div class="col-sm-3"> 
          <input type="number" id="orderedQuantity" value={{item[1][0]}} step="1" min="1" class="col-2"  #updatedQty>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-warning" type="button" (click)="updateFromCart(item[0],updatedQty.value)">Update</button>
        </div>  
        <div class="col-sm-1">
          <p>{{(item[1][1]*item[1][0]).toPrecision(2)}}</p>
        </div>
      <hr>
      </div>
     
    </div>
    <div class="row">

        <div class="col-sm-5"><strong>Total</strong></div>
        <div class="col-sm-6"><strong>{{totalQty}}</strong></div>
        <div class="col-sm-1"><strong>$ {{cartTotal}}</strong></div>
        <hr>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary active mb-8" type="button" (click)="buyOrder()">Buy Now</button>
      </div>
</div>
<app-edit-profile *ngIf="showEdit"></app-edit-profile>
<div class="container" *ngIf="!showEdit && !showCart">
<app-funds *ngIf="showFunds"></app-funds>


<div class="" *ngIf="showHome">
  <h3>Items</h3>
  <div class="item-container">
    <div class="name" *ngFor= "let item of items">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/1261/1261163.png"
         alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.id}}</h5>
          <p class="card-text">{{item.price}}</p>
          <button id="addBtn" class="btn btn-outline-primary" type="button" (click)="addToCart(item.id,item.price)">Add</button>
        </div>
      </div>
  </div>
    
      
      
    </div>
    <div>
        <ul class ="menu right">
            <li><a routerLink ="/">Logout</a></li>
            <li><a routerLink = "/cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></a></li>
              <li><a routerLink ="/">Funds</a></li>
        </ul>
    </div>
    <div class="flex-row" *ngFor="let product of data">
        <div class="col-4">
            <div class="card text-center" (click)="addToCart(product.id)">
                <p>{{product.name}}</p>
                ${{product.price}}
                <br/>
                Quantity: <input type="number" maxlength="4" size="4"/>
                <br/>
                <input type="button" value="Add Product to Cart" (click)="addToCart(product.id)"/>
            </div>
        </div>
    </div>
  <app-order-status *ngIf="showOrder"></app-order-status>
</div>
