<div class="text-center">
    <fieldset>
        <legend>Sign Up For Free!</legend>
        <form>
            <label>First Name:</label>
            <input type="text" name="fname" id="fname"><br>
            <label>Middle Name:</label>
            <input type="text" name="mname" id="mname"><br>
            <label>Last Name:</label>
            <input type="text" name="lname" id="lname"><br>
            <label>Birth Day:</label>
            <input type="date" name="birth" id="birth"><br>
            <label>Phone Number:</label>
            <input type="number" name="phone" id="phone"><br>
            <label>Email:</label>
            <input type="email" name="email" id="email"><br>
            <label>Password:</label>
            <input type="password" name="password" id="password"><br>
        </form>
        <a href="login">Back to Login</a>
        <a href="/">Back to Home</a>
    </fieldset>
</div>