<div> 
     <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100px" height="100px" src="https://media.gettyimages.com/photos/selection-of-conference-pears-photographed-on-a-red-background-taken-picture-id477785561?s=2048x2048" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Pears</h5>
                  <p class="card-text">$4.00</p>
                  Quantity: <input type="text" maxlength="4" size="4" id=""/><br/><br/>
                  <a href="#" class="btn btn-primary">Add Product</a>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100px" height="100px" src="https://media.gettyimages.com/photos/coffee-beans-roasted-picture-id849794764" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Roasted Coffee Beans</h5>
                  <p class="card-text">$8.00</p>
                  Quantity: <input type="text" maxlength="4" size="4" id=""/><br/><br/>
                  <a href="#" class="btn btn-primary">Add Product</a>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100px" height="100px" src="https://www.kroger.com/product/images/xlarge/front/0085290400400" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Maple Syrup</h5>
                  <p class="card-text">$13.00</p>
                  Quantity: <input type="text" maxlength="4" size="4" id=""/><br/><br/>
                  <a href="#" class="btn btn-primary">Add Product</a>
                </div>
              </div>
          </div>
        </div>
      </div>


    <div class="container"><nav class="navbar navbar-light bg-light"><span class="navbar-text">Featured Items</span></nav></div>

    <div class="container"><nav class="navbar navbar-light bg-light"><span class="navbar-text">On Sale</span></nav></div> 
</div>

<!-- 
 <div id="container">
   <div class="row">
    <div class="col-sm">
    
    </div>
   </div> 
 </div> -->
 <!-- <body onload="productCard()"> -->
      <!-- <input type="button" class="button" id="disp" value="Display Alert"/> -->
      <!-- <button onclick="random()">Test Display</button> -->
      <!-- <p id="hello"></p> -->
      <!-- <input type="button" value="Test Display" id="buttontest" onclick="productCard()"/> -->
 <!-- </body> -->