<div class="text-center">
    <fieldset>
        <legend>Login</legend>
        <form [formGroup]="loginForm" method="POST">
            <label>ID:</label>
            <input type="number" formControlName="_id" name="_id" id="_id"><br>
            <label>Password:</label>
            <input type="password" formControlName="password" name="password" id="password"><br>
            <input type="submit" value="Login">
            <input type="reset" value="Clear">
        </form>
        <a routerLink="/signup">Register</a>
    </fieldset>
    {{msg}}
</div>