<div class="wrapper fadeInDown text-center">
    <fieldset class="text-center" id="formContent" >
        <label>Login</label>
        <form [formGroup]="loginForm" (ngSubmit)="attemptLogin()">
            <label>ID:</label>
            <input type="number" formControlName="_id"><br>
            <label>Password:</label>
            <input type="password" formControlName="password"><br>
            <input type="submit" value="Login" [disabled]="!loginForm.valid">
            <input type="reset" value="Clear">
        </form>
        <a routerLink="/signup">Register</a><br>
        <a routerLink="/raiseTicket">Raise a Ticket</a>
    </fieldset>
    {{msg}}
</div>
