<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <div>
        <ul class ="menu">
            <li><a routerLink="/sendrequest"><i class="fa fa-folder-open" aria-hidden="true"></i>Send Request</a></li>
            <li><a routerLink="/updateorder"><i class="fa fa-bell"></i>Update Order</a></li>
            <li><a routerLink="/unlockuser"><i class="fa fa-unlock" aria-hidden="true"></i> Unlock User</a></li>
            <li><a routerLink="/editprofile/{{empid}}"><i class="fa fa-fw fa-user"></i>Edit Profile</a></li>
            <li><a routerLink="/" style="float: right;"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
    </div>
</div>
