<div class="wrapper fadeInDown text-center">
    <div id="formContent">
        <form [formGroup]="loginForm" (ngSubmit)="attemptLogin()">
            <br>
            <label>Admin Login</label><br>
            <label>ID:</label>
            <input type="number" formControlName="_id"><br>
            <label>Password:</label>
            <input type="password" formControlName="password"><br>
            <input type="submit" value="Login" [disabled]="!loginForm.valid">
            <input type="reset" value="Clear">
        </form>
    </div>
    {{msg}}
</div>