<div class="text-center">
    <fieldset>
        <legend>Delete Employee</legend>
        <form [formGroup]="deleteEmployeeForm" (ngSubmit)="removeEmployee()">
            <label>ID:</label>
            <input type="number" formControlName="_id"><br>
            <input type="submit" value="Delete Employee" [disabled]="!deleteEmployeeForm.valid">
            <input type="reset" value="Clear">
        </form>
        <a (click)="backToAdmin()">back to admin page</a>
    </fieldset>
    {{msg}}
</div>